#form{
    width: 333;
    height: 446;
    border-radius: 33px 2px;
    background-color: darkgoldenrod;
}
#text{
    color: firebrick;
    background-color: antiquewhite;
    border-color: gold;
    border-radius: 54px 55px 7px 8px;
    height: 25;
    text-align: center;
    }
#select{
    color: blueviolet;
    background-color: navajowhite;
    border-color: darkorchid;
}
#output{
    color: beige;
    text-align: center;
    background-color: darkgoldenrod;
    font-size: 17;
    border-radius: 24px 2px 232px 3px;
    border-color: ghostwhite;
}
#button{
color: antiquewhite;
    background-color: black;
    border-radius: 4px 43px 34px 54px;
    font-size: medium;
    font-family: -webkit-body;
    border-color: darkorange;
}
body {
    background-color: goldenrod;
}
#copy {
        color: darkorchid;
    background-color: transparent;
    border-radius: 423px 22px 233px 233px;
    height: 87;
    width: 55;
    border-color: blueviolet;
}
h1#tt1:hover {
    color: goldenrod;
}
h1#tt1 {
    color: antiquewhite;
}
h1#tt2 {
    color: midnightblue;
}
h1#tt2:hover {
    color: darkslateblue;
}
input#button:hover {
    color: darkorange;
    border-color: deeppink;
}
input#text:hover {
    color: lightskyblue;
    background-color: aliceblue;
    border-color: fuchsia;
}
select#select:hover {
    color: darkcyan;
    background-color: darksalmon;
    border-color: blue;
}
input#copy:hover {
    color: blueviolet;
    border-color: violet;
    background-color: transparent;
}
textarea#output:hover {
    color: cyan;
    background-color: darkmagenta;
    border-color: darkgray;
}